<!doctype html>
<html class="no-js">
<head>
  {% include includes.html %}
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
  <header class="site-header">
    <nav class="site-nav">
      <ul>
        {% include nav-items.html %}
      </ul>
    </nav>
    <div class="header-group">
      <h1 class="title border-color1"><span class="color1">B</span>right</h1>
      <h1 class="title border-color2"><span class="color3">E</span>nough to</h1>
      <h1 class="title border-color3"><span class="color5">N</span>avigate</h1>
      <h2 class="subtitle">(a robot)</h2>
    </div>
  </header>
</body>
